.movie{
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 3%;
    box-shadow: 0 0 7px rgba(0,0,0,0.3);
}

.movie_img img{
    width: 200px;
    height: 100%;
}

.movie_description {
    position: relative;
    padding: 5px;
}

.movie_title {
    font-size: 20px;
    padding: 3% 0 3%;
    text-align: center;
}

.movie_descr {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
    height: 30%;
    text-align: left;
    font-size: 14px;
    padding: 4%;
    color: darkgrey;

}

.movie_detail {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 95%;
    padding: 6% 0 6% 4%;
    font-size: 15px;
    border-top: 1px solid rgb(194, 190, 190);
    cursor: pointer;
}

.more_detail {
    position: fixed;
    left: 0;
    top: 15%;
    width: 100vw;
    height: 60vh;
    z-index: 1;
    display: none;
}

.bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 60vh;
    background-color: #03185c;
    opacity: 0.7;
    z-index: 0;
}

.clsBtn {
    position: absolute;
    right: 3%;
    top: 5%;
    cursor: pointer;
}